.navigation {
    height: 90px;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    // color: white;
  
    .logo-container {
      height: 100%;
      width: 90px;
      padding: 25px;
      // filter: invert(100%);
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
        // color: white;
      }
    }
  }

  .container {
    position: absolute;
    display: flex;
  }
  .infoi {
    width: 100vw;
    height: 100%;
    // background-color: black;
    position: absolute;
 
  }
  .navi{   
    width: 240px;
    height: 340px;
    border: 1px solid black;
    background-color: white;
    position: relative;
    overflow-x: hidden;
    z-index: 1 !important;
  }
  @media (min-width: 1200px) {
    .navi{
    margin-left: 82vw;
    }
  }
  @media (max-width:1200px) {
    .navi{
    margin-left: 74vw;
    }
  }

  